<div class="col-xs-12" id="adaptApp"  ng-app="adaptApp"  ng-controller="adaptCtrl" ng-init="init()">
    <form class="" role="form">
        <div class="box-body">
            <div class="form-group row">
                <div class="col-xs-2 shop-margin-top-10">
                </div>
            </div>

        </div>
    </form>

    <div class="box">
        <div class="box-header with-border">
            <h3 class="box-title">适宜业态列表</h3>
            <div class="col-xs-1 shop-fright">
                <button type="button" class="btn ng-scope btn-info lagou-searchBut btn-sm" ng-click="addAdaptBtn()">添加</button>
            </div>
        </div>
        <div class="box-body">
            <lg-data-table table-data="tableData"></lg-data-table>
            <lg-paginator   on-change="onChangePage(page)"
                            total-pages="pagesNumber"
                            visible-pages="10"
                            total-entries="totalEntries">
            </lg-paginator>
        </div>
    </div>
    <!--添加窗口-->
    <lg-modal open="adaptFlagObj.addOpen">
        <div class="modal-header">
            <h4 class="modal-title" ng-if="!adaptFlagObj.edit">添加适宜业态类型</h4>
            <h4 class="modal-title" ng-if="adaptFlagObj.edit">修改适宜业态类型</h4>
        </div>
        <div class="modal-body">
            <form class="form-horizontal">
                <div class="box-body">
                    <div class="form-group">
                        <label class="col-sm-2 control-label">名称:</label>
                        <div class="col-sm-10">
                            <input type="text" class="form-control" name="ocpyName"  ng-model="addAdaptObj.ocpyName">
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button class="btn btn-default " ng-click="addAdaptCancle()">关闭</button>
                    <button class="btn btn-info pull-right" ng-click="addAdaptSave()" ng-if="!adaptFlagObj.edit">确定</button>
                    <button class="btn btn-info pull-right" ng-click="updateAdaptSave()" ng-if="adaptFlagObj.edit">修改</button>
                </div>
            </form>
        </div>
    </lg-modal>

    <!--删除确认窗口-->
    <lg-modal open="adaptFlagObj.deleteOpen">
        <div class="modal-header">
            <h4 class="modal-title">删除适宜业态</h4>
        </div>
        <div class="modal-body">
            <form class="form-horizontal">
                <div class="box-body">
                    <div class="form-group">
                        <div class="col-sm-offset-2 col-sm-10">
                            <label>确认删除该适宜业态?</label>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button class="btn btn-default " ng-click="deletCancle()">关闭</button>
                    <button class="btn btn-info pull-right" ng-click="deleteSave()">确定</button>
                </div>
            </form>
        </div>
    </lg-modal>
</div>