<div class="col-xs-12" id="linkApp"  ng-app="manageApp"  ng-controller="manageCtrl" ng-init="init()">

    <div class="box">
        <div class="box-header with-border">
            <h3 class="box-title">物业管理列表</h3>
        </div>
        <div class="box-body">
            <lg-data-table table-data="tableData"></lg-data-table>

        </div>
    </div>


    <!--添加窗口-->
    <lg-modal open="manageFlagObj.addOpen">
        <div class="modal-header">
            <h4 class="modal-title">编辑物业管理</h4>
        </div>
        <div class="modal-body">
            <form class="form-horizontal">
                <div class="box-body">
                    <div class="form-group">
                        <label class="col-sm-2 control-label">标题:</label>
                        <div class="col-sm-10">
                            <input type="text" class="form-control" name="title"  ng-model="editManageObj.title" >
                        </div>
                    </div>
                    <div class="form-group">
                        <label  class="col-sm-2 control-label">内容:</label>
                        <div class="col-sm-10">
                            <div class="col-xs-8">
                                <textarea name = "content" id = "manageContent" style="width:450px;height: 200px;"></textarea>
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <label  class="col-sm-2 control-label">图片:</label>
                        <div class="col-sm-10" >
                            <img src="{{editManageObj.picture}}" style="height:200px;max-width:100%;" >
                        </div>
                        <div class="col-sm-10">
                            <input type="file" ngf-select="" ng-model="manageImage" name="file" ngf-accept="'image/*'" ngf-max-size="20MB" ngf-min-height="100" required="">
                            <button type="button" class="shop-margin-top-10 btn-success"  ng-click="uploadImage(manageImage)">上传图片</button>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button class="btn btn-default " ng-click="updateManageCancle()">关闭</button>
                    <button class="btn btn-info pull-right" ng-click="updateManageSave()">确定</button>
                </div>
            </form>
        </div>
    </lg-modal>

</div>