<div class="col-xs-12" id="commentApp"  ng-app="commentApp"  ng-controller="commentCtrl" ng-init="init()">
    <div class="box">
        <div class="box-header with-border">
            <h3 class="box-title">留言列表</h3>
        </div>
        <div class="box-body">
            <lg-data-table table-data="tableData"></lg-data-table>
            <lg-paginator   on-change="onChangePage(page)"
                            total-pages="pagesNumber"
                            visible-pages="10"
                            total-entries="totalEntries">
            </lg-paginator>
        </div>
    </div>

    <!--删除确认窗口-->
    <lg-modal open="commentFlagObj.deleteOpen">
        <div class="modal-header">
            <h4 class="modal-title">删除留言</h4>
        </div>
        <div class="modal-body">
            <form class="form-horizontal">
                <div class="box-body">
                    <div class="form-group">
                        <div class="col-sm-offset-2 col-sm-10">
                            <label>确认删除该留言?</label>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button class="btn btn-default " ng-click="deleteCancle()">关闭</button>
                    <button class="btn btn-info pull-right" ng-click="deleteSave()">确定</button>
                </div>
            </form>
        </div>
    </lg-modal>

    <lg-modal open = "commentFlagObj.showDetail">
        <div class="modal-header">
            <small>详情</small>
        </div>
        <div class="modal-body">
            <div class="form-group">
                <div class="box box-primary">
                    <div class="box-body">
                        <div class="form-group">
                            <div class="col-sm-10">
                                <p name="detail">{{commentObj.recommend}}</p>
                            </div>
                        </div>
                    </div>

                </div>

            </div>
        </div>
    </lg-modal>
</div>