<!DOCTYPE html>
#parse("\include\header.vm")

<html lang="en">
<body>

<div class="content" ng-app="myApp" ng-controller="myCtrl" ng-init="init()">
    #parse("\include\navigation.vm")
    <div class="container">
       <!-- <div class="row col-xs-12" style="height: 200px;">
            <div class="panel panel-default">
                <div class="panel-heading shop-ad-click">
                    <img src="$!advert.newPicName" style="height: 200px;width:100%;" />
                </div>
            </div>
        </div>-->
        <div class="row col-xs-12 shop-margin-top-30">
            #parse("\include\search.vm")
        </div>
        <!-- 商铺列表 -->
        <div class="row col-xs-12">
            <div class="panel panel-body" style="margin-top:-10px;">
                <div class="panel-box">
                    <div class="panel-body">
                        <p class="shop-font">根据您的搜索条件,查询到$!{total}条结果</p>
                    </div>
                    <div class="row panel-box">
                        <div class="col-lg-9 col-sm-9 panel-body" style="border-right: 5px solid red;margin-top:-25px;">
                            <div class="panel-body" style="margin-top:-30px;">
                                <div class="row box">
                                    #foreach($shop in $shopList)
                                    <div class="col-lg-3 col-sm-3 thumbnail">
                                        <a href="/front/detail.action?id=$!shop.shop.id" target="_blank">
                                            <img src="$!shop.filePath" alt="" style="height: 125px;">
                                        </a>
                                        #set($location = $!{shop.shop.location})

                                        #if($location.length()>10)
                                        #set($location=$location.substring(0,6))
                                        #end
                                        <div class="caption shop-list-title">
                                            <p>地址:$!{location}</p>
                                            <p>分类:$!{shop.buildingOccupancy}</p>
                                            <p>面积:$!{shop.shop.squareMetres}平米</p>
                                        </div>
                                    </div>
                                    #end
                                </div>
                            </div>
                            <div class="box-footer clearfix shop-fright">
                                <nav>
                                    <input type="hidden" id="totalPage" value="$!{totalPage}"/>
                                    <input type="hidden" id="currentPage" value="$!{currentPage}"/>
                                    <input type="hidden" id="boardType" value="$!{boardType}"/>
                                    <ul class="pagination" style="cursor :pointer;">
                                        <li>
                                            <a ng-click="Previous()">
                                                <span>上一页</span>
                                            </a>
                                        </li>
                                        <li ng-repeat="page in pageList" ng-class="{active: isActivePage(page)}" >
                                            <a ng-click="selectPage(page)" >{{ page }}</a>
                                        </li>
                                        <li>
                                            <a ng-click="Next()">
                                                <span>下一页</span>
                                            </a>
                                        </li>
                                    </ul>
                                </nav>

                            </div>
                        </div>
                        <div class="col-lg-3 col-sm-3 panel-box" style="margin-top:-26px;">
                            <div style="background-color: white;marigin-top:-5px;margin-bottom:10px;margin-left:14px;font-size: 24px;color:red;">
                                #if($!{shoptype})
                                  #if($!{shoptype} == 3)
                                     <span>精选好铺</span>
                                  #else
                                     <span>热招旺铺</span>
                                   #end
                                #end
                            </div>
                           <!-- <div class="panel-body" style="margin-top:-14px;">
                                #foreach($goodShop in $!goodShopList)
                                <div class="thumbnail">
                                    <a href="/front/search-shop.action?areaId=$hotShop.id" target="_blank">
                                        <img src="$!goodShop.filePath" alt="" style="height: 175px;">
                                    </a>
                                    <div class="caption" style="background-color:#F5CF8A">
                                        <span>$!{goodShop.shopType}  $!{goodShop.shop.squareMetres}平米</span><span class="shop-fright shop-color-red shop-font18">$!{goodShop.districtStr}</span>
                                    </div>
                                </div>
                                #end
                            </div>-->
                            #parse("\include\goodshop.vm")
                        </div>
                    </div>
                </div>

                #parse("\include\footer.vm")
            </div>

        </div>
        <!-- 商铺列表 -->
    </div>


</div>

<script src="/static/bootstrap/js/bootstrap.js"></script>
<script src="/static/plugins/slimScroll/jquery.slimscroll.js"></script>

<script src="/static/plugins/angular/angular.js"></script>
<script src="/cms/common/angular-constants.js"></script>
<script src="/static/plugins/toastr/toastr2.js"></script>

<script src="/cms/common/shopIndex.js"></script>

<script type="text/javascript" src="/static/ui/js/projectCarousel.js"></script>
</body>
</html>