<div class="col-xs-12" id="shopApp"  ng-app="shopApp"  ng-controller="shopCtrl" ng-init="init()">
    <div class="box-body" ng-show="shopListFlag" >
        <form role="form">
            <div class="form-group row input-group-sm">
                <!-- 所在区域 -->
                <div class="col-xs-3" style="width:16%">
                    <div class="input-group input-group-sm">
                        <div class="input-group-btn">
                            <button title="所在区域" type="button" class="btn btn-default">所在区域</button>
                        </div>
                        <select class="form-control" name = "district" ng-model="search.districtId" ng-change="searchLoad(0)">
                            <option value="">请选择</option>
                            <option value={{type.districtId}} ng-repeat="type in shopFlagObj.districtArr" >{{type.districtName}}</option>
                        </select>

                    </div>
                </div>


                <!-- 物业性质 -->
                <div class="col-xs-3" style="width: 22%">
                    <div class="input-group input-group-sm">
                        <div class="input-group-btn">
                            <button title="物业性质" type="button" class="btn btn-default">物业性质</button>
                        </div>
                        <select class="form-control" name = "hotcate" ng-model="search.typeId" ng-change="searchLoad(0)">
                            <option value="">请选择</option>
                            <option value={{type.typeId}} ng-repeat="type in shopFlagObj.shoptypeArr" >{{type.typeName}}</option>
                        </select>
                    </div>
                </div>
                <!-- 适宜业态 -->
                <div class="col-xs-3" style="width: 22%">
                    <div class="input-group input-group-sm">
                        <div class="input-group-btn">
                            <button title="适宜业态" type="button" class="btn btn-default">适宜业态</button>
                        </div>
                        <select class="form-control" name = "typeSearch" ng-model="search.ocpyId" ng-change="searchLoad(0)">
                            <option value="">请选择</option>
                            <option value={{type.ocpyId}} ng-repeat="type in shopFlagObj.buildOccupArr" >{{type.ocpyName}}</option>
                        </select>
                    </div>
                </div>
                <!-- 装修情况-->
                <div class="col-xs-3" style="width: 16%">
                    <div class="input-group input-group-sm">
                        <div class="input-group-btn">
                            <button title="装修情况" type="button" class="btn btn-default">装修情况</button>
                        </div>
                        <select class="form-control" name = "builFinish" ng-model="search.finishingId" ng-change="searchLoad(0)">
                            <option value="">请选择</option>
                            <option value={{type.finishingId}} ng-repeat="type in shopFlagObj.buildFinishArr" >{{type.finishingName}}</option>
                        </select>
                    </div>
                </div>
                <!-- 商铺面积 -->
                <div class="col-xs-3" style="width: 16%">
                    <div class="input-group input-group-sm">
                        <div class="input-group-btn">
                            <button title="商铺面积" type="button" class="btn btn-default">商铺面积</button>
                        </div>
                        <select class="form-control" name = "areaRange" ng-model="search.areaId" ng-change="searchLoad(0)">
                            <option value="">请选择</option>
                            <option value="8">50㎡以下</option>
                            <option value="7">50㎡~100㎡</option>
                            <option value="6">100㎡~150㎡</option>
                            <option value="5">150㎡~200㎡</option>
                            <option value="4">200㎡~300㎡</option>
                            <option value="3">300㎡~400㎡</option>
                            <option value="2">400㎡~500㎡</option>
                            <option value="1">大于500㎡</option>
                        </select>
                    </div>
                </div>
            </div>
            <div class="form-group row input-group-sm">
                <!-- 物业性质 -->
                <div class="col-xs-3" style="width: 22%">
                    <div class="input-group input-group-sm">
                        <div class="input-group-btn">
                            <button title="类型" type="button" class="btn btn-default">类型</button>
                        </div>
                        <select class="form-control" name = "type" ng-model="search.type" ng-change="searchLoad(0)">
                            <option value="">请选择</option>
                            <option value=1>普通商铺</option>
                            <option value=2>热招旺铺</option>
                            <option value=3>精选好铺</option>
                        </select>
                    </div>
                </div>
                <div class="col-xs-1">
                    <button  title="商铺名称" type="button" class="btn btn-default">商铺名称</button>
                </div>
                <div class="col-xs-4" style="margin-left: -22px;">
                    <input type="text" class="form-control btn-sm col-xs-3" name="search.name" placeholder="请输入商铺名称,进行搜索" ng-model="search.name">
                </div>
                <div class="col-xs-1">
                    <button type="button" class="btn ng-scope btn-info  btn-sm" ng-click="searchLoad(0)">搜索</button>
                </div>
            </div>
        </form>
        <div class="box">
            <div class="box-header with-border">
                <h3 class="box-title">商铺基本信息列表</h3>
                <div class="col-xs-1 shop-fright">
                    <button type="button" class="btn ng-scope btn-info  btn-sm" ng-click="addShopBtn()">添加</button>
                </div>
            </div>
            <div class="box-body">
                <lg-data-table table-data="tableData"></lg-data-table>
                <lg-paginator   on-change="onChangePage(page)"
                                total-pages="pagesNumber"
                                visible-pages="10"
                                total-entries="totalEntries">
                </lg-paginator>
            </div>
        </div>
    </div>
    <!--添加商铺-->
    <div class="box-body" ng-show="!shopListFlag">
        <div class="box-body">
            <div class="box">
                <table class="table table-hover">
                    <tr>
                        <td class="">
                            <label class="col-xs-4 control-label">商铺名称:</label>
                            <div class="col-xs-8">
                                <input type="text" class="form-control" ng-model="addshop.shopName">
                            </div>
                        </td>
                        <td class="">
                            <div class="form-group" style="margin-bottom: 21px;">
                                <label class="col-xs-5 control-label">所属商铺类型:</label>
                                <!--<div class="col-xs-7">
                                    <select class="form-control" name = "typeSearch" ng-model="addshop.hotId">
                                        <option value="">请选择类型</option>
                                        <option value={{type.hotId}} ng-repeat="type in shopFlagObj.hotcateArr" >{{type.hotName}}</option>
                                    </select>
                                </div>-->
                                <select class="form-control" name = "model" ng-model="detailSearch.status" ng-change="searchDetailLoad(0)">
                                    <option value="待审核">待审核</option>
                                    <option value="待审核可展示(先上后审)">待审核可展示(先上后审)</option>
                                    <option value="审核通过">审核通过</option>
                                    <option value="审核未通过">审核未通过</option>
                                    <option value="已关闭">已关闭</option>
                                    <option value="已删除">已删除</option>
                                </select>
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <td class="">
                            <label class="col-sm-4 control-label">商铺编号:</label>
                            <div class="col-sm-8">
                                <input type="text" class="form-control" ng-model="addshop.shopNo">
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <td class="">
                            <div class="form-group" style="margin-bottom: 21px;">
                                <label class="col-sm-4 control-label">所在地区:</label>
                                <div class="col-sm-8">
                                    <select class="form-control" name = "typeSearch" ng-model="addshop.districtId" ng-change="changeDistrict()">
                                        <option value="">请选择地区</option>
                                        <option value={{type.districtId}} ng-repeat="type in shopFlagObj.districtArr" >{{type.districtName}}</option>
                                    </select>
                                </div>
                            </div>
                        </td>
                        <td class="">
                            <div class="form-group" style="margin-bottom: 21px;">
                                <label class="col-sm-4 control-label">所属街道:</label>
                                <div class="col-sm-8">
                                    <select class="form-control" name = "typeSearch" ng-model="addshop.streetId">
                                        <option value="">请选择街道</option>
                                        <option value={{type.streetId}} ng-repeat="type in shopFlagObj.addStreetArr" >{{type.streetName}}</option>
                                    </select>
                                </div>
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <td class="col-xs-4">
                            <label class="col-sm-3 control-label">发布人:</label>
                            <div class="col-sm-5">
                                <input type="text" class="form-control" ng-model="addshop.publisher">
                            </div>
                        </td>
                        <td class="col-xs-4">
                            <label class="col-sm-4 control-label">上架时间:</label>
                            <div class="input-group date" id="datetimepickerStart">
                                <input type="text" class="form-control" ng-model = "addshop.onsellDate" placeholder="上架时间" readonly>
                                <span class="input-group-addon"><i class="glyphicon glyphicon-th"></i></span>
                            </div>
                        </td>
                        <td class="col-xs-4">
                            <label class="col-sm-4 control-label">下架时间:</label>
                            <div class="input-group date" id="datetimepickerEnd">
                                <input type="text" class="form-control" ng-model = "addshop.offsellDate" placeholder="下架时间" readonly>
                                <span class="input-group-addon"><i class="glyphicon glyphicon-th"></i></span>
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <td colspan="2">
                            <label class="col-sm-3 control-label">详细地址:</label>
                            <div class="col-sm-9">
                                <input type="text" class="form-control" ng-model="addshop.location" ng-change="searchMap()">
                            </div>
                        </td>
                    </tr>
                </table>
                <div class="row">
                    <div class="col-xs-3 shop-margin-left-20">
                        <label class="col-lg-12 control-label">地图位置:</label>
                    </div>

                    <div class="col-xs-8">
                        <div id="allmap"></div>
                    </div>
                </div>
                <div class="row">
                    <!-- 加载编辑器的容器 -->
                    <div class="col-xs-3 shop-margin-left-20">
                        <label class="control-label">商铺详情:</label>
                    </div>
                    <div class="col-xs-8" ng-if="!shopFlagObj.detailFlag" >
                        <textarea name = "content" id = "shopContent" ></textarea>
                    </div>
                    <div class="col-xs-8" ng-if="shopFlagObj.detailFlag" >
                        <textarea class="textarea" name="investment"  ng-model="shopDetailObj.description"  style="width: 100%; height: 60px; font-size: 14px; line-height: 18px; border: 1px solid rgb(221, 221, 221); padding: 10px;"></textarea>
                    </div>
                </div>
                <table class="table table-hover">
                    <tr>
                        <td class="">
                            <label class="col-sm-3 control-label">所在楼层:</label>
                            <div class="col-sm-5">
                                <input type="number" class="form-control" ng-model="addshop.floor">
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <label class="col-sm-3 control-label">租赁总建筑面积:</label>
                            <div class="col-sm-5">
                                <input type="number" class="form-control" ng-model="addshop.squareMetres">
                            </div>
                            <span>平方米</span>
                        </td>
                        <td>
                            <label class="col-sm-3 control-label">商铺面积:</label>
                            <div class="col-sm-5">
                                <input type="number" class="form-control" ng-model="addshop.shopSquare">
                            </div>
                            <span>平方米</span>

                        </td>
                    </tr>
                    <tr>
                        <td>
                            <label class="col-sm-3 control-label">办公房面积:</label>
                            <div class="col-sm-5">
                                <input type="number" class="form-control" ng-model="addshop.officeSquare">
                            </div>
                            <span>平方米</span>

                        </td>
                        <td>
                            <label class="col-sm-3 control-label">厂房面积:</label>
                            <div class="col-sm-5">
                                <input type="number" class="form-control" ng-model="addshop.factorySquare">
                            </div>
                            <span>平方米</span>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <label class="col-sm-3 control-label">库房面积:</label>
                            <div class="col-sm-5">
                                <input type="number" class="form-control" ng-model="addshop.warehouseSquare">
                            </div>
                            <span>平方米</span>

                        </td>
                        <td>
                            <label class="col-sm-3 control-label">场地面积:</label>
                            <div class="col-sm-5">
                                <input type="number" class="form-control" ng-model="addshop.yardSquare">
                            </div>
                            <span>平方米</span>
                        </td>
                    </tr>
                    <tr>
                        <td class="">
                            <div class="form-group" style="margin-bottom: 21px;">
                                <label class="col-sm-3 control-label">物业性质:</label>
                                <div class="col-sm-5">
                                    <select class="form-control" name = "typeSearch" ng-model="addshop.typeId">
                                        <option value="">请选择</option>
                                        <option value="{{type.typeId}}" ng-repeat="type in shopFlagObj.shoptypeArr" >{{type.typeName}}</option>
                                    </select>
                                </div>
                            </div>
                        </td>
                        <td class="">
                            <div class="form-group" style="margin-bottom: 21px;">
                                <label class="col-sm-3 control-label">装修情况:</label>
                                <div class="col-sm-5">
                                    <select class="form-control" name = "typeSearch" ng-model="addshop.finishingId">
                                        <option value="">请选择</option>
                                        <option value={{type.finishingId}} ng-repeat="type in shopFlagObj.buildFinishArr" >{{type.finishingName}}</option>
                                    </select>
                                </div>
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <label class="col-sm-3 control-label">公交路线:</label>
                            <div class="col-sm-5">
                                <input type="text" class="form-control" ng-model="addshop.traffic">
                            </div>
                        </td>
                        <td>
                            <div class="form-group" style="margin-bottom: 21px;">
                                <label class="col-sm-3 control-label">建筑结构:</label>
                                <div class="col-sm-5">
                                    <select class="form-control" name = "typeSearch" ng-model="addshop.archiId">
                                        <option value="">请选择</option>
                                        <option value={{type.archiId}} ng-repeat="type in shopFlagObj.architArr" >{{type.archiName}}</option>
                                    </select>
                                </div>
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <td class="col-xs-6">
                            <label class="col-sm-3 control-label">付款要求:</label>
                            <div class="col-sm-5">
                                <select class="form-control" name = "depositType" ng-model="addshop.depositType">
                                    <option value=0>不详</option>
                                    <option value=1>一个月</option>
                                    <option value=2>二个月</option>
                                    <option value=3>三个月</option>
                                </select>
                            </div>
                            <span> 的房租作为房屋的保证金</span>
                        </td>
                        <td class="col-xs-6">
                            <label class="col-sm-3 control-label">租金按:</label>
                            <div class="col-sm-5">
                                <select class="form-control" name = "rentType" ng-model="addshop.rentType">
                                    <option value=1>年付</option>
                                    <option value=2>半年付</option>
                                    <option value=3>季付</option>
                                    <option value=4>月付</option>
                                </select>
                            </div>
                            <span> 缴付</span>
                        </td>
                    </tr>
                </table>
                <div class="row">
                    <div class="shop-margin-left-15">
                        <div class="row col-xs-12" style="height: 40px;">
                            <label class="col-sm-2 control-label">适宜业态:</label>
                                    <span class="shop-margin-left-3" ng-repeat="type in shopFlagObj.buildOccupArr">
                                    <input type="radio" name="optionsRadios"  ng-model="addshop.ocpyId" value={{type.ocpyId}} checked="">{{type.ocpyName}}
                                    </span>
                        </div>
                        <div class="row col-xs-12">
                            <label class="col-sm-1 control-label">配套设施:</label>
                            <div class="col-sm-1" style="width:10%;" ng-repeat="type in shopFlagObj.buildFaciArr">
                                <div class="checkbox"><label><input type="checkbox"  ng-true-value="'{{type.facilId}}'"  ng-click="confirmCheckboxClicked(type)"> {{type.facilName}} </label></div>
                            </div>
                        </div>
                        <div class="row col-xs-12 shop-margin-top-10">
                            <div class="col-xs-3">
                                <label class="col-xs-5 control-label">联系人1:</label>
                                <div class="col-xs-7">
                                    <input type="text" class="form-control" ng-model="addshop.linkmanName">
                                </div>
                            </div>
                            <div class="col-xs-3">
                                <label class="col-xs-5 control-label">联系电话:</label>
                                <div class="col-xs-7">
                                    <input type="text" class="form-control" ng-model="addshop.linkmanMobile">
                                </div>
                            </div>
                            <div class="col-xs-3">
                                <label class="col-xs-4 control-label">手机:</label>
                                <div class="col-xs-8">
                                    <input type="text" class="form-control" ng-model="addshop.linkmanPhone">
                                </div>
                            </div>
                            <div class="col-xs-3">
                                <label class="col-xs-4 control-label">email:</label>
                                <div class="col-xs-8">
                                    <input type="text"7 class="form-control" ng-model="addshop.linkmanEmail">
                                </div>
                            </div>
                        </div>
                        <div class="row col-xs-12 shop-margin-top-10">
                            <div  class="col-xs-3">
                                <label class="col-xs-5 control-label">联系人2:</label>
                                <div class="col-xs-7">
                                    <input type="text" class="form-control" ng-model="addshop.linkmanNameSe">
                                </div>
                            </div>
                            <div  class="col-xs-3">
                                <label class="col-xs-5 control-label">联系电话:</label>
                                <div class="col-xs-7">
                                    <input type="text" class="form-control" ng-model="addshop.linkmanMobileSe">
                                </div>
                            </div>
                            <div  class="col-xs-3">
                                <label class="col-xs-4 control-label">手机:</label>
                                <div class="col-xs-8">
                                    <input type="text" class="form-control" ng-model="addshop.linkmanPhoneSe">
                                </div>
                            </div>
                            <div  class="col-xs-3">
                                <label class="col-xs-4 control-label">email:</label>
                                <div class="col-xs-8">
                                    <input type="text" class="form-control" ng-model="addshop.linkmanEmailSe">
                                </div>
                            </div>
                        </div>
                        <div class="row col-xs-12">
                            <label class="col-sm-3 control-label">价格情况:</label>
                        </div>
                        <div class="row col-xs-12">
                            <div class="col-xs-6">
                                <label class="col-sm-2 control-label">单价:</label>
                                <div class="col-sm-6">
                                    <input type="text" class="form-control" ng-model="addshop.price" ng-change="editPriceFun()">
                                </div>
                                <span>元/平米/天</span>
                            </div>
                            <div  class="col-xs-6">
                                <label class="col-sm-2 control-label">总价:</label>
                                <div class="col-sm-6">
                                    <input type="text" class="form-control" ng-model="addshop.priceSe" ng-change="editPriceFun()">
                                </div>
                                <span>元/月</span>
                            </div>
                        </div>
                        <div class="row col-xs-12 shop-margin-top-10">
                            <div class="col-xs-6">
                                <label class="col-sm-2 control-label">单价:</label>
                                <div class="col-sm-6">
                                    <input type="text" class="form-control" ng-model="addshop.price2" ng-change="editPrice2Fun()">
                                </div>
                                <span>元/平米</span>
                            </div>
                            <div class="col-xs-6">
                                <label class="col-sm-2 control-label">总价:</label>
                                <div class="col-sm-6">
                                    <input type="text" class="form-control" ng-model="addshop.priceSe2" ng-change="editPrice2Fun()">
                                </div>
                                <span>元</span>
                            </div>
                        </div>

                        <div class="row col-xs-12 shop-margin-top-10" ng-if="shopFlagObj.detailFlag">
                            <label class="col-sm-2 control-label">上传商铺图片:</label>
                            <div class="col-xs-5">
                                <img src="{{shopDetailObj.img1}}" style="height:160px;"/>
                            </div>
                            <div class="col-xs-5">
                                <img src="{{shopDetailObj.img2}}" style="height:160px;"/>
                            </div>
                        </div>
                        <div class="row col-xs-12 shop-margin-top-10" ng-if="!shopFlagObj.detailFlag">
                            <label class="col-sm-2 control-label">上传商铺图片:</label>
                            <div class="">
                                <div>
                                    <div class="col-sm-5">
                                        <input type="file" ngf-select="" ng-model="shopImage1" name="file" ngf-accept="'image/*'" ngf-max-size="20MB" ngf-min-height="100" required="">
                                        <button type="button" class="shop-margin-top-10 btn-success"  ng-click="uploadImage(shopImage1,1)">上传图片1</button>
                                    </div>
                                    <div class="col-sm-5">
                                        <input type="file" ngf-select="" ng-model="shopImage2" name="file" ngf-accept="'image/*'" ngf-max-size="20MB" ngf-min-height="100" required="">
                                        <button type="button" class="shop-margin-top-10 btn-success" ng-click="uploadImage(shopImage2,2)">上传图片2</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="modal-footer col-sm-5 col-md-offset-1">
                        <button class="btn btn-default " ng-click="goback()">返回</button>
                        <button ng-if="!shopFlagObj.detailFlag" class="btn btn-info" ng-click="shopSave()">提交</button>
                    </div>
                </div>

            </div>
        </div>

    </div>

</div>

