/** 公用css样式 **/
.overflow {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.shop-center{
    text-align: center;
    margin: 0 auto;
}

.shop-padding-3{
    padding:3px;
}

.shop-margin-3{
    margin: 3px;
}

/* 上边距 */
.shop-margin-top-3{
    margin-top: 3px;
}
.shop-margin-top-2{
    margin-top: 2px;
}

.shop-margin-top-5{
    margin-top: 5px;
}
.shop-margin-top-10{
    margin-top: 10px;
}

.shop-margin-top-15{
    margin-top: 15px;
}

.shop-margin-top-20{
    margin-top: 20px;
}

.shop-margin-top-30{
    margin-top: 30px;
}
/* 下边距 */
.shop-margin-bottom-3{
    margin-bottom: 3px;
}
.shop-margin-bottom-2{
    margin-bottom: 2px;
}

.shop-margin-bottom-5{
    margin-bottom: 5px;
}

.shop-margin-bottom-10{
    margin-bottom: 10px;
}
.shop-margin-bottom-30{
    margin-bottom: 30px;
}
/* 左边距 */
.shop-margin-left-2{
    padding: 2px;
    margin-left: 2px;
}
.shop-margin-left-3{
    margin-left: 3px;
}
.shop-margin-left-5{
    margin-left: 5px;
}

.shop-margin-left-10{
    margin-left: 10px;
}

.shop-margin-left-15{
    margin-left: 15px;
}

.shop-margin-left-20{
    margin-left: 20px;
}

.shop-margin-left-30{
    margin-left: 30px;
}

.shop-margin-left-50{
    margin-left: 50px;
}

/* 右边距 */
.shop-margin-right-2{
    margin-right: 2px;
}
.shop-margin-right-3{
    margin-right: 3px;
}
.shop-margin-right-5{
    margin-right: 5px;
}
.shop-margin-right-10{
    margin-right: 10px;
}
.shop-margin-right-15{
    margin-right: 15px;
}
.shop-margin-top_10{
    margin-top : -10px;
}
.shop-panel-heading{
    border-bottom: 4px solid #e32218;
}
.shop-border-left{
    border-left: 4px solid #f00000;
}
.shop-back-white{
    background-color: white;
}

.shop-good-title span{
    color : white;
}
/* 内边距 */
.shop-padding-top-3{
    padding-top: 3px;
}
.shop-padding-top-5{
    padding-top: 5px;
}
.shop-padding-top-10{
    padding-top: 10px;
}
.width40{
    width:40%;
}
.width80{
    width:80%;
}
.width60{
    width:60%;
}
.width100{
    width:100%;
}
.height100{
    height: 100%;
}
.height50{
    height: 50%;
}
.shop-fleft{
    float:left;
}
.shop-fright{
    float:right;
}
.shop-default-border{
    border: 1px solid #DCD6D6;
}
.shop-color-red{
    color:red;
}
.shop-color-gray{
    color : #9f9f9f;
}
.shop-color-black{
    color : #000000;
}
.shop-spacing3{
    letter-spacing: 3px;
}
.shop-goods-red{
    font-family: 黑体;
    font-size: 26px;
    color: #f3000d;
    margin-right: 13px;
}
.shop-goods-black{
    text-align: left;
    line-height: 37px;
    margin-left: -92px;
    font-family: 黑体;
    font-size: 16px;
    color: #000;
}
.shop-font{
    font-family: 黑体;
    font-size: 20px;
    color: #676767;
    letter-spacing: 3px;
}

.shop-font-news{
    font-family: 黑体;
    font-size: 22px;
    color: #e32117;
    letter-spacing: 3px;
}
.shop-font-time{
    font-family: 黑体;
    font-size: 16px;
    color: #8d8d8d;
}
.shop-news li a{
    font-family: 黑体;
    font-size: 14px;
    color:#7c7c7c;
}
.shop-model-title{
    font-family: 黑体;
    font-size: 24px;
    color:#000000;
    letter-spacing: 6px;
}
.shop-model-content{
    font-family: 黑体;
    font-size: 15px;
    color:#646464;
}
.shop-contact p {
    color:#f2000a;
    font-family: 黑体;
    font-size: 20px;
}
.shop-select-font button{
    font-family: 黑体;
    font-size: 16px;
    color: #9f9f9f;
    margin-right: 15px;
}
.shop-select-font button:hover{
    background-color: #d9534f;
    border-color: #EA1A1A;
}
.shop-font-small{
    font-family: 黑体;
    font-size: 18px;
    color: #9f9f9f;
}
.shop-font16{
    font-size: 16px;
}
.shop-font14{
    font-size: 14px;
}
.shop-font18{
    font-size: 18px;
    font-family: 黑体;
    font-size: 18px;
    color: #9f9f9f;
}
.shop-font24{
    font-size: 24px;
}
.shop-font22{
    font-size: 20px;
}
.shop-hot-title{
    font-family: 黑体;
    font-size: 20px;
    letter-spacing: 3px;
    color: white;
}
.shop-imgBoard-title{
    font-family: 黑体;
    font-size: 20px;
    letter-spacing: 3px;
    color: #646464;
    line-height:20px;
}
.shop-hot-title-small{
    font-family: 黑体;
    font-size: 15px;
    letter-spacing: 3px;
    color: white;
}
.shop-hot-area{
    font-family: 黑体;
    font-size: 30px;
    color: white;
    font-style: italic;
    margin-top:-10px;
}
.shop-hot-area-small{
    font-family: 黑体;
    font-size: 21px;
    color: white;
    font-style: italic;
    margin-top:-5px;
}
.shop-nav ul li a{
    font-size: 16px;
}
.shop-nav-ul li{
    margin-top:30px;
}
.shop-nav-ul li a span:hover{
    color:#ff0000;
}
.shop-nav-ul span{
    font-family: 黑体;
    font-size: 18px;
    color: #9f9f9f;
    letter-spacing: 1px;
}
.shop-son-ul li{
    margin-top:2px;
}
.shop-carousel ol li{
    border:1px solid #DBD1D1;
}
.shop-carousel-indicators{
    margin-top: -25px;
    margin-left: 32px;
}
.shop-carousel-indicators li{
    display: inline-block;
    width: 10px;
    height: 10px;
    text-indent: -999px;
    cursor: pointer;
    background-color: #000 \9;
    background-color: rgba(0, 0, 0, 0);
    border: 1px solid #E02F2F;
    border-radius: 10px;

}

.shop-carousel-indicators .active{
    width: 12px;
    height: 12px;
    margin: 0;
    background-color: red;
}
.carousel-indicators .active{
    width: 12px;
    height: 12px;
    margin: 0;
    background-color:rgba(232, 222, 222, 0.4);
}
.shop-footer{
    position: fixed;
    bottom: 0;
    width: 100%;
    text-align: center;
}
.shop-border-none{
    border: none;
}
.shop-detail-tb tbody tr td{
    border: none;
}
.shop-detail-tb tbody tr td span{
    font-size: 20px;
}
.shop-filter-btn a button{
    font-size: 14px;
    color:#777;
}
.shop-list-title{
    background-color: #E8E7E7;
}
.shop-list-title p{
    margin-bottom: 5px;
    margin-left:5px;
}
.shop-cooperation{
    text-align: center;
}
.shop-cooperation p{
    font-family: 黑体;
    font-size: 31px;
    color: #eb1d1b;
    font-weight: bold;
}
.shop-friendlink span{
    font-family: 黑体;
    font-size: 20px;
    color: #717070;
    letter-spacing: 4px;
}
.shop-friendlink p{
    font-family: 黑体;
    font-size: 16px;
    color: #727171;
}
.shop-search-btn{
    position:absolute;
    width:80px;
    height:40px;
    zoom:0.35;
    background-size:cover;
    background-image:url("../../static/ui/images/search.png")
}

.shop-detail-btn li:hover{
    border-right: 5px solid white;
    font-size: 24px;
    border-right: 5px solid orange;
    height: 80%;
}
.shop-detail-btn li :hover{
    color: orange;
    background-color: white;
}
.shop-detail-btn li{
    border-right: 5px solid red;
    font-size: 20px;
    color: #9f9f9f;
    font-weight: 100;
    width:235px;
    text-align: center;
    height:60px;
}
.shop-detail-btn li a{
    color: #9f9f9f;
}
.shop-detail-table span{
    color: #555;
    font-weight: lighter;
}
.shop-comment-form label{
    color:#9f9f9f;
    font-size:18px;
    font-weight: lighter;
}
.shop-detail-font-24{
    font-size: 24px;
    font-weight: lighter;
}
.shop-detail-title{
    font-size:28px;
    color: #9f9f9f;
    letter-spacing: 4px;
    line-height: 85px;
}
/*.shop-good-list p{
    display: none;
}*/
.shop-good-list{
    text-align: center;
}
.shop-good-list:hover{
    cursor: pointer;
}
.shop-good-list:hover a.now {
    cursor:pointer; position:absolute; top:0; width:100%; height:100%;
    z-index:100; left:0; display:block;
}
.shop-text {
    width:100%;
    height:auto;
    background-color:#000;
    opacity:0.7;
    -moz-opacity:0.7;
    position:absolute;
    left:0px;
    bottom:0px; }
.shop-imgtext {
    width:100%;
    height:100px;
    float:left;
    padding:10px;
    color:#fff;
    font-size:12px;}

.shop-good-list p span{
   /* text-align: center;
    line-height:100px;*/
    font-size: 18px;
    color:white;
}
.shop-btn:hover{
    background-color: #d9534f;
    border-color: #EA1A1A;
}
#allmap {width: 400px;height: 300px;overflow: hidden;margin:0;font-family:"微软雅黑";}
#detailmap {width: 100%;height: 100%;overflow: hidden;margin:0;font-family:"微软雅黑";}


/* iFocus style */
#ifocus_pic { display:inline; position:relative; float:left; width:90%; height:160px; overflow:hidden;}
#ifocus_piclist { position:absolute;left:0; top:0; }
#ifocus_piclist li { width:100%; height:160px; overflow:hidden;}
#ifocus_piclist img { width:100%; height:160px;}
#ifocus_btn { display:inline; float:left;}
#ifocus_btn li {height:25px; cursor:pointer; opacity:0.7; -moz-opacity:0.7; filter:alpha(opacity=70); }

