<!-- 广告位 panel-->
<div class="row col-xs-12" style="margin-top:-38px;">
    <div class="panel panel-default">
        <div class="panel-heading">
            <!-- 三个广告位 -->
            <div class="row">
                #foreach($ad in $!advertList)
                    <div class="col-lg-4 panel panel-default thumbnail" style="height:300px;">
                        <a href="${ad.url}" target="_blank"><img src="${ad.newPicName}" alt="${ad.adName}"  style="width: 100%;max-height: 100%;"></a>
                    </div>
                #end
            </div>
            <!-- 三个详情栏 -->
            <div class="row">
                <div class="col-lg-4 panel panel-default" >
                    <div id="boardCarousel" class="row carousel slide pad_010 b_k" data-ride="carousel" style="height: 350px;margin-left:10px;">
                        <!-- 轮播（Carousel）项目 -->
                        <div class="row carousel-inner bor_btm" style="height: 310px;">
                            #foreach($imgBoard in $imgBoardList)
                                #if($!velocityCount == 1)
                                    <div class="item active shop-good-list" >
                                        <a class="" href="/front/boardDetail.action?id=$imgBoard.brdId" target="_blank">
                                            <img src="$!imgBoard.img"  style="height: 280px;width:100%;">
                                        </a>
                                        <hr style="border-bottom: 5px solid #ee1d14;margin-top:2px;margin-bottom: 2px;margin-left:-26px;">
                                        <div class="caption">
                                            #set($imgboardTitle=$imgBoard.brdTitle)

                                            #if($!imgboardTitle.length()>14)
                                                #set($imgboardTitle=$imgboardTitle.substring(0,14))
                                            #end
                                            <span class="shop-imgBoard-title">$!{imgboardTitle}</span>
                                        </div>
                                    </div>
                                #else
                                    <div class="item shop-good-list">
                                        <a class="" href="/front/boardDetail.action?id=$imgBoard.brdId" target="_blank">
                                            <img src="$!imgBoard.img"  style="height: 280px;width:100%;">
                                        </a>
                                        <hr style="border-bottom: 5px solid #ee1d14;margin-top:2px;margin-bottom: 2px;margin-left:-26px;">
                                        <div class="caption">
                                            #set($imgboardTitle=$imgBoard.brdTitle)

                                            #if($!imgboardTitle.length()>14)
                                                #set($imgboardTitle=$imgboardTitle.substring(0,14))
                                            #end
                                            <span class="shop-imgBoard-title">$!{imgboardTitle}</span>
                                        </div>
                                    </div>
                                #end

                            #end

                        </div>

                        <div class="row " style="height: 10px;">
                            <ol class="carousel-indicators" style="bottom: 0px;">
                                <li style="border: 1px solid #7c7c7c;" data-target="#boardCarousel" data-slide-to="0" class="active"></li>
                                <li style="border: 1px solid #7c7c7c;" data-target="#boardCarousel" data-slide-to="1"></li>
                                <li style="border: 1px solid #7c7c7c;" data-target="#boardCarousel" data-slide-to="2"></li>
                                <li style="border: 1px solid #7c7c7c;" data-target="#boardCarousel" data-slide-to="3"></li>
                            </ol>
                        </div>

                        <!-- 轮播（Carousel）导航 -->
                    </div>

                </div>

                <div class="col-lg-4 panel panel-default shop-margin-left-10" style="height:350px;width: 32%;">
                    <div class="panel-body">
                        <div class="shop-panel-heading" style="background-color: white;line-height: 2"><span class="shop-font-news shop-margin-bottom-5">北翼要闻</span></div>
                        <div class="col-lg-4 shop-margin-top-30" style="height:25px;width: 39%;">
                            <a class="shop-font-time" href="#" style="margin-left: 2px;">$!date.format('MM月dd日',$!today)</a>
                        </div>
                        <div class="col-lg-8 shop-margin-top-15" style="height:40px;width:60%;background-size:100% 100%;background-image: url('/static/ui/images/more1.png')" >
                            <a href="/front/boardList.action?type=5" target="_blank" class="shop-margin-top-10 shop-fright"><font color="white">more</font></a>
                        </div>
                        <div class="row col-lg-12 shop-margin-top-10" style="width:115%;">
                            <ul class="shop-news shop-margin-top-10">
                                #foreach($news in $!newsBoardList)
                                    #set($brdTitle=$news.brdTitle)

                                    #if($!brdTitle.length()>14)
                                        #set($brdTitle=$brdTitle.substring(0,14))
                                    #end

                                    <li class="shop-margin-bottom-10"><a href="/front/boardDetail.action?id=$news.brdId" target="_blank">$!{brdTitle}</a></li>
                                #end
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 panel panel-default shop-margin-left-10" style="height:350px;width: 32%;">
                    <!-- <div class="panel-heading">广告位3</div> -->
                    <div class="panel-body panel-default">
                        <div class="shop-panel-heading" style="background-color: white;line-height: 2"><span class="shop-font-news">商家动态</span></div>
                            <div class="col-lg-4 shop-margin-top-30" style="height:25px;width: 39%;">
                                <a class="shop-font-time" href="#" style="margin-left: 2px;">$!date.format('MM月dd日',$!today)</a>
                            </div>
                            <div class="col-lg-8 shop-margin-top-15" style="height:40px;width:60%;background-size:100% 100%;background-image: url('/static/ui/images/more1.png')" >
                                <a href="/front/boardList.action?type=6" target="_blank" class="shop-margin-top-10 shop-fright"><font color="white">more</font></a>
                            </div>
                            <div class="row col-lg-12 shop-margin-top-5" style="width:115%;">
                                <ul class="shop-news shop-margin-top-10">
                                    #foreach($business in $!businessBoardList)
                                        #set($brdTitle=$business.brdTitle)

                                        #if($!brdTitle.length()>14)
                                            #set($brdTitle=$brdTitle.substring(0,14))
                                        #end
                                        <li class="shop-margin-bottom-10"><a class="shop-color-gray" href="/front/boardDetail.action?id=$business.brdId" target="_blank">$!{brdTitle}</a></li>
                                    #end
                                </ul>
                            </div>
                    </div>
                </div>
            </div>
            <!-- 热招旺铺 -->
            <div class="row" style="height: 400px;">
                <center><span class="shop-model-title">热招旺铺</span></center>
                <center class="shop-model-content">招商直通 · 尽享优惠</center>
                <span class="shop-fright shop-margin-right-10"><a class="shop-model-content shop-margin-right-5" href="/front/search-shop.action?type=3" target="_blank">更多商铺</a></span>
                <br>
                <div class="col-sm-12 col-lg-12 ">
                    <div class="row">
                        <div class="col-lg-4 col-sm-12" style="height: 300px;">
                            #foreach($firShop in $!fireShopList)
                                #if($velocityCount == 1)
                                    #set($roadName = $!firShop.shop.road)

                                    #if($!roadName.length()>3)
                                        #set($roadName=$roadName.substring(0,3))
                                    #end
                                    <div class="col-xs-12 thumbnail">
                                        <a href="/front/detail.action?id=$!firShop.shop.id" target="_blank"><img src="$!firShop.filePath" alt="" style="height:250px;"></a>
                                        <div class="caption mr_zhe_p">
                                            <span class="shop-hot-title">$!{roadName}</span>
                                            <span class="shop-fright shop-hot-area">$!{firShop.shop.squareMetres}㎡</span>
                                        </div>
                                    </div>
                                #end
                            #end
                        </div>

                        <div class="col-lg-4 col-sm-12 row" style="width:36%;">
                            #foreach($firShop in $!fireShopList)
                               #if($velocityCount > 1 && $velocityCount !=6)
                                   #set($roadName2 = $!firShop.shop.road)

                                   #if($!roadName2.length()>3)
                                       #set($roadName2=$roadName2.substring(0,3))
                                   #end
                               <div class="col-lg-6 thumbnail">
                                    <a href="/front/detail.action?id=$!firShop.shop.id" target="_blank"><img  src="$!firShop.filePath" style="height:90px;"></a>
                                    #if($velocityCount <4)
                                        <div class="caption mr_zhe_p2">
                                            <span class="shop-hot-title-small">$!{roadName2}</span>
                                            <span class="shop-fright shop-hot-area-small">$!{firShop.shop.squareMetres}㎡</span>
                                        </div>
                                    #elseif($velocityCount ==4)
                                        <div class="caption mr_zhe_p">
                                            <span class="shop-hot-title-small">$!{roadName2}</span>
                                            <span class="shop-fright shop-hot-area-small">$!{firShop.shop.squareMetres}㎡</span>
                                        </div>
                                    #else
                                        <div class="caption mr_zhe_p5">
                                            <span class="shop-hot-title-small">$!{roadName2}</span>
                                            <span class="shop-fright shop-hot-area-small">$!{firShop.shop.squareMetres}㎡</span>
                                        </div>
                                    #end
                               </div>
                               #end
                            #end
                        </div>

                        <div class="col-lg-4 col-sm-12">
                            #foreach($firShop in $!fireShopList)
                                #if($velocityCount == 6)
                                    #set($roadName3 = $!firShop.shop.road)

                                    #if($!roadName3.length()>3)
                                        #set($roadName3=$roadName3.substring(0,3))
                                    #end
                                    <div class="col-xs-12 thumbnail">
                                        <a href="/front/detail.action?id=$!firShop.shop.id" target="_blank"><img src="$!firShop.filePath" alt="" style="height:250px;"></a>
                                        <div class="caption mr_zhe_p2">
                                            <span class="shop-hot-title">$!{roadName3}</span>
                                            <span class="shop-fright shop-hot-area">$!{firShop.shop.squareMetres}㎡</span>
                                        </div>
                                    </div>
                                #end
                            #end
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>

</div>
<!-- 精选好铺 panel-->
<div class="row col-xs-12">
    <div class="panel panel-default">
        <div class="panel-heading">
            <div class="row">
                <center><span class="shop-model-title">精选好铺</span></center>
                <center class="shop-model-content">优先掌握 · 抢占先机</center>
                <span class="shop-fright"><a class="shop-model-content shop-margin-right-5" href="/front/search-shop.action?type=2" target="_blank">更多商铺</a></span>
                <br>
                <div class="row col-lg-12" style="width:106%;">
                    #foreach($goodShop in $!goodShopList)
                        <div class="imgbox col-lg-4 thumbnail shop-margin-left-2 shop-border-none shop-good-list" style="width:32%;">
                            <a href="/front/detail.action?id=$!goodShop.shop.id" target="_blank" class="thumbnail shop-margin-bottom-10 shop-border-none">
                                <img src="$!goodShop.filePath" alt="" style="height: 215px;">
                            </a>
                            #set($shopType=$!goodShop.shopType)
                            #if($!shopType.length()>2)
                                #set($shopType=$shopType.substring(0,2))
                            #end
                            <span>
                                <span class="shop-goods-black">$!{shopType} &nbsp;&nbsp; $!{goodShop.shop.squareMetres}平米</span><span class="shop-fright shop-goods-red">$!{goodShop.districtStr}</span>
                            </span>

                            #set($distribe = $!goodShop.shop.description)
                            #if($!distribe.length()>38)
                                #set($distribe=$distribe.substring(0,38))
                            #elseif($!distribe.length()==0)
                                #set($distribe=$goodShop.shop.shopName)
                            #end
                            #if($velocityCount == 1 || $velocityCount == 4)
                                <div class="shop-text">
                                    <div class="shop-imgtext">
                                        <p>
                                            <span>$!{distribe}</span>
                                        </p>
                                    </div>
                                </div>
                            #elseif($velocityCount == 2 || $velocityCount == 5)
                                <div class="shop-text" style="background:#bec000;">
                                    <div class="shop-imgtext">
                                        <p>
                                            <span>$!{distribe}</span>
                                        </p>
                                    </div>
                                </div>

                            #else
                                <div class="shop-text" style="background:#e84f5e;">
                                    <div class="shop-imgtext">
                                        <p>
                                            <span>$!{distribe}</span>
                                        </p>
                                    </div>
                                </div>

                            #end

                            <a href="/front/detail.action?id=$!goodShop.shop.id" target="_blank" class="now">&nbsp;</a>

                        </div>
                    #end
                </div>
            </div>

        </div>
    </div>
</div>

<!--精品项目-->
<div class="row col-xs-12" style="margin-top:-12px;">
    <div class="panel panel-default">
        <div class="panel-heading"  style="height: 280px;">
            <center><h3><font style="color:rgb(193, 14, 14)">精品项目</font></h3></center>
            <hr style="border: 5px solid rgb(193, 14, 14);margin-top:2px;margin-bottom: 2px;width:97%;">
            <div class="row col-xs-12 friend">
                <div id="shopslide">
                    <ul class="slideul1">
                        <li class="slideli1">
                            <ul class="slideul2">
                                #foreach($business in $businessList)
                                <li><a href="/front/project.action?id=$!business.bizId" target="_blank">
                                    <img src="$!business.fileName" style="width:150px;height: 150px;"/> </a>
                                        #set($bizName = $business.bizName)
                                        #set($bizContent=$business.bizContent)

                                        #if($!business.bizName.length()>10)
                                            #set($bizName=$bizName.substring(0,9))
                                        #end
                                        #if($!business.bizName.length()>30)
                                            #set($bizContent=$bizContent.substring(0,29))
                                        #end
                                        <span>$!{bizName}</span>
                                #end
                                </li>
                            </ul>
                        </li>
                        <li class="slideli2"></li>
                    </ul>

                </div>
            </div>
        </div>
    </div>
</div>