<div class="panel-box" style="height: 200px;">
    <img src="/static/ui/images/footer.png" style="height: 200px;width:100%;" />
</div>
<div class="panel-box shop-foot">
    <p>上海北翼（集团）有限公司 地址:上海市宝山梅林路762号  邮编:201901 电话:021-66150172</p>
    <p>Copyright 2007-2012 上海市宝山区供销合作总社 备案/许可证编号为：沪ICP备12047456号</p>
</div>