<div class="container">
    <!-- 北翼商铺网 -->
    <div class="smart-body ">
        <div class="row col-xs-12">
            <embed src="$!{flash.flashName}"  wmode="transparent"  style="width:100%;height:100px;" class="ng-scope">
            #*<div class="col-xs-3 col-md-offset-1">
                <a href="#" class="shop-top-title">北翼商铺网</a>
            </div>*#
            #*<a href="#" class="shop-top-title shop-margin-left-10">北翼商铺网</a>*#
        </div>
    </div>
    <!-- 导航栏 -->
    <div class="row col-sm-12 col-md-offset-1" style="margin-top: -35px;margin-left:-30px;">
        <div class="col-sm-12">
            <nav class="navbar navbar-default open-hover shop-hide-border shop-margin-top15" role="navigation">
                <!-- Collect the nav links, forms, and other content for toggling -->

                <div class="collapse navbar-collapse navbar-ex1-collapse shop-nav shop-margin-top-15">
                    <ul class="col-lg-12 nav navbar-nav shop-nav-ul">
                        <div class="col-xs-2">
                            <a href="/index.action">
                                <img src="/static/ui/images/shoplogo.png" style="margin-left:50px;height:80px;margin-top:-5px;">
                            </a>
                        </div>
                        <li class="dropdown">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown"><span>地区 </span><b class="caret"></b></a>
                            <ul class="dropdown-menu shop-son-ul" style="margin-top:-10px;">
                                #foreach($discrict in $!districtList)
                                    <li><a href="/front/search-shop.action?districtId=$!discrict.districtId" target="_blank"><span>$!{discrict.districtName}</span></a></li>
                                #end
                            </ul>
                        </li>
                        <li><a href="/index.action"><span>主页</span></a></li>
                        <li><a href="/front/search-shop.action?type=3" target="_blank"><span>热招旺铺</span></a></li>
                        <li><a href="/front/search-shop.action?type=2" target="_blank"><span>精选好铺</span></a></li>
                        <li class="dropdown">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown"><span>电子商务</span> <b class="caret"></b></a>
                            <ul class="dropdown-menu shop-son-ul shop-business-ul" style="margin-top:-10px;">
                                <li><a href="https://shop111069217.taobao.com" target="_blank"><span style="font-size: 14px;">源味门</span></a></li>
                                <li><a href="https://shop109552889.taobao.com" target="_blank"><span style="font-size: 14px;">北翼国大健康家园</span></a></li>
                            </ul>
                        </li>
                        <li><a href="/front/boardList.action" target="_blank"><span>北翼资讯</span></a></li>
                        <li><a href="/front/manage.action" target="_blank"><span>物业管理</span></a></li>
                        <li class="dropdown">
                            <a  href="/front/aboutme.action" target="_blank" ><span>关于我们</span> <b class="caret"></b></a>
                            <ul class="dropdown-menu shop-son-ul" style="margin-top:-10px;">
                                #foreach($aboutme in $!aboutmeList)
                                    <li><a href="/front/aboutme-detail.action?id=$!aboutme.id" target="_blank"><span>$!{aboutme.name}</span></a></li>
                                #end
                            </ul>
                        </li>
                    </ul>
                </div><!-- /.navbar-collapse -->
            </nav>
        </div>
    </div>
</div>

<script type="text/javascript">
    $(document).ready(function(){
        $('.shop-business-ul').click(function(){
            $.post("front/click.action",
                    {
                        type:2
                    },
                    function(data,status){
                        console.log("添加电子商务点击数");
                    });
        });

        $('.shop-ad-click').click(function(){
            $.post("front/click.action",
                    {
                        type:3
                    },
                    function(data,status){
                        console.log("添加广告点击数");
                    });
        });

        $('.shop-qq-click').click(function(){
            $.post("front/click.action",
                    {
                        type:4
                    },
                    function(data,status){
                        console.log("添加qq点击数");
                    });
        });
    });

</script>