<!-- 二维码 -->
<div class="panel panel-default shop-border-none shop-margin-top-10">
    <div class="item active" style="height: 250px;">
        <div class="col-sm-12 col-lg-12">
            <p class="shop-margin-left-30"><font color="red" style="font-size: 20px;">北&nbsp;&nbsp;&nbsp;&nbsp;翼&nbsp;&nbsp;&nbsp;&nbsp;商&nbsp;&nbsp;&nbsp;&nbsp;铺</font></p>
            <p class="shop-margin-left-30" style="margin-top:-15px;"><font color="red" style="font-size: 20px;">创&nbsp;&nbsp;&nbsp;&nbsp;造&nbsp;&nbsp;&nbsp;&nbsp;财&nbsp;&nbsp;&nbsp;&nbsp;富</font></p>
        </div>
        <div class="col-sm-12 col-lg-12" style="margin-top:-5px;">
            <img  class="shop-margin-left-30" src="/static/ui/images/qrcode.png" style="height: 160px;">
        </div>
        <div class="col-sm-12 col-lg-12 shop-margin-left-30">
            <span style="font-size: 18px;"><font>北&nbsp;&nbsp;&nbsp;翼&nbsp;&nbsp;&nbsp;商&nbsp;&nbsp;&nbsp;&nbsp;铺&nbsp;&nbsp;&nbsp;&nbsp;网</font></span>
        </div>
    </div>
</div>