<!-- 北翼生活广场 panel-->
<!-- 图片展示栏 -->
<div class="row col-sm-12 " style="height:350px;margin-top:-18px;">
    <div id="carousel-example-generic" class="carousel slide" data-ride="carousel">
        <ol style="bottom:1px;" class="carousel-indicators opacity50 shop-carousel">
            <li data-target="#carousel-example-generic" data-slide-to="0" class="active"></li>
            <li data-target="#carousel-example-generic" data-slide-to="1"></li>
            <li data-target="#carousel-example-generic" data-slide-to="2"></li>
            <li data-target="#carousel-example-generic" data-slide-to="3"></li>
        </ol>

        <div class="carousel-inner" style="height:350px;">
           #* <div class="item active">
                <img src="/static/ui/images/top1.jpg" alt="">
                *##*<embed src="/flash/20141103232602_65944-3039.swf" style="width:300px;height: 100px;" class="ng-scope">*##*
            </div>*#
            #foreach($adtop in $!advertTopList)
                #if($!velocityCount == 1)
                    <div class="item active">
                        <img src="$!adtop.newPicName" alt="">
                    #*<embed src="/flash/20141103232602_65944-3039.swf" style="width:300px;height: 100px;" class="ng-scope">*#
                    </div>
                #else
                    <div class="item">
                        <img src="$!adtop.newPicName" alt="">
                    </div>
                #end
            #end
        </div>
        <div class="carousel-control left subpage" style="opacity: 1;">

            <ul id="myTab" class="nav navbar-nav nav-tabs shoptabs" style="background-color: #413F3F;">
                #foreach($hotcat in $!hotcategoryList)
                    <li class="shop-font18 shopnav" style="height: 60px;line-height: 60px;width:180px;text-align: left;">
                        <a href="/front/search-shop.action?hotId=$hotcat.hotcategory.hotId" style="height: 100%;width:100%;">$!{hotcat.hotcategory.hotName}
                            <font class="shop-fright" size="6">&rsaquo;</font>
                            </span>
                        </a>
                        <div class="prosmore hide"">
                            #foreach($hotshop in $!hotcat.shopList)
                                <span><a href="/front/detail.action?id=$!hotshop.id" target="_blank">$!{hotshop.shopName}</a></span>
                            #end
                        </div>
                    </li>
                #end

            </ul>


        </div>
        
    </div>
</div>
<!-- 二维码栏 -->
<div class="row col-xs-12">
    <div class="panel panel-default">
        <div class="row panel-heading">
            <div class="col-lg-3 panel panel-default" style="height: 270px;width:20%;">

                <div id="qrcodeCarousel" class="carousel slide pad_010 b_k" data-ride="carousel" style="height: 270px;">
                    <!-- 轮播（Carousel）项目 -->
                    <div class="col-sm-12 col-lg-12 shop-margin-top-2" >
                        <p style="margin-left:-5px;"><font style="font-size: 20px;color:#ec0011;font-family: 黑体;">北&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;翼&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;商&nbsp;&nbsp;&nbsp;&nbsp;铺</font></p>
                        <p style="margin-top:-10px;margin-left: -5px;"><font style="font-size: 20px;color:#ec0011;font-family: 黑体;">创&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;造&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;财&nbsp;&nbsp;&nbsp;&nbsp;富</font></p>
                    </div>
                    <div class="carousel-inner bor_btm" style="height: 250px;margin-left:-10px;">
                        <div class="item active" style="height: 250px;">
                            <div class="col-sm-12 col-lg-12" style="margin-top:-13px;">
                                <img  src="/static/ui/images/grcode1.jpg" style="height: 160px;width:111%;margin-left: -4px;">
                            </div>
                            <div class="col-sm-12 col-lg-12 shop-margin-left-5">
                                <span style="font-size: 18px;font-family: 黑体;"><font>北&nbsp;&nbsp;&nbsp;翼&nbsp;&nbsp;&nbsp;商&nbsp;&nbsp;&nbsp;&nbsp;铺&nbsp;&nbsp;&nbsp;&nbsp;网</font></span>
                            </div>
                        </div>
                        <div class="item" style="height: 250px;">
                            <div class="col-sm-12 col-lg-12" style="margin-top:-13px;">
                                <img  src="/static/ui/images/grcode2.png" style="height: 160px;width:111%;margin-left: -4px;">
                            </div>
                            <div class="col-sm-12 col-lg-12 shop-margin-left-5">
                                <span style="font-size: 18px;font-family: 黑体;"><font>北&nbsp;&nbsp;&nbsp;翼&nbsp;&nbsp;&nbsp;商&nbsp;&nbsp;&nbsp;业&nbsp;&nbsp;&nbsp;街</font></span>
                            </div>
                        </div>
                        <div class="item" style="height: 250px;">
                            <div class="col-sm-12 col-lg-12" style="margin-top:-13px;">
                                <img  src="/static/ui/images/grcode3.jpg" style="height: 160px;width:111%;margin-left: -4px;">
                            </div>
                            <div class="col-sm-12 col-lg-12 shop-margin-left-5">
                                <span style="font-size: 18px;font-family: 黑体;"><font>沪&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;客&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;隆</font></span>
                            </div>
                        </div>
                        <div class="item" style="height: 250px;">
                            <div class="col-sm-12 col-lg-12" style="margin-top:-13px;">
                                <img  src="/static/ui/images/grcode4.jpg" style="height: 160px;width:111%;margin-left: -4px;">
                            </div>
                            <div class="col-sm-12 col-lg-12 shop-margin-left-5">
                                <span style="font-size: 18px;font-family: 黑体;"><font>刘&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;行&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;新&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;街</font></span>
                            </div>
                        </div>
                        <div class="item" style="height: 250px;">
                            <div class="col-sm-12 col-lg-12" style="margin-top:-13px;">
                                <img  src="/static/ui/images/grcode5.jpg" style="height: 160px;width:111%;margin-left: -4px;">
                            </div>
                            <div class="col-sm-12 col-lg-12 shop-margin-left-5">
                                <span style="font-size: 18px;font-family: 黑体;"><font>翼&nbsp;&nbsp;&nbsp;生&nbsp;&nbsp;&nbsp;活&nbsp;&nbsp;&nbsp;广&nbsp;&nbsp;&nbsp;场</font></span>
                            </div>
                        </div>
                    </div>
                    <!-- 轮播（Carousel）指标 -->
                    <ol class="carousel-indicators" style="margin-bottom:-16px;">
                        <li style="border: 1px solid #999;" data-target="#qrcodeCarousel" data-slide-to="0" class="active"></li>
                        <li style="border: 1px solid #999;" data-target="#qrcodeCarousel" data-slide-to="1"></li>
                        <li style="border: 1px solid #999;" data-target="#qrcodeCarousel" data-slide-to="2"></li>
                        <li style="border: 1px solid #999;" data-target="#qrcodeCarousel" data-slide-to="3"></li>
                        <li style="border: 1px solid #999;" data-target="#qrcodeCarousel" data-slide-to="4"></li>
                    </ol>

                </div>

            </div>
            <div class="col-lg-7 panel panel-default shop-margin-left-10" style="height: 270px;width: 64%;">
                <div class="panel-heading shop-font14" style="background-color: white;"><span><font style="color:#e60015;font-size: 22px;"><strong>▌<strong></strong></font></span><span class="shop-font shop-spacing3">商铺热门筛选</span></div>
                <div class="panel-body shop-select-font">
                    #foreach($hotcat in $hotcategoryList)
                        <a href="/front/search-shop.action?hotId=$!hotcat.hotId" target="_blank">
                            <button type="button" class="btn btn-default  shop-color-gray">$!{hotcat.hotName}</button>
                        </a>
                    #end
                    <hr style="margin-top: 1px;margin-bottom: 1px;color:#ffffff;">
                    <a href="/front/search-shop.action?areaId=8" target="_blank">
                        <button type="button" class="btn btn-default shop-color-gray"">50㎡以下</button><span class="shop-color-gray">||
                    </a>
                    <a href="/front/search-shop.action?areaId=7" target="_blank">
                        <button type="button" class="btn btn-default shop-color-gray">50㎡-100㎡</button><span class="shop-color-gray">||
                    </a>
                    <a href="/front/search-shop.action?areaId=6" target="_blank">
                        <button type="button" class="btn btn-default shop-color-gray">100㎡-150m㎡</button><span class="shop-color-gray">||
                    </a>
                    <a href="/front/search-shop.action?areaId=5" target="_blank">
                        <button type="button" class="btn btn-default shop-color-gray">150㎡-200㎡</button><span class="shop-color-gray">||
                    </a>
                    <a href="/front/search-shop.action?areaId=4" target="_blank">
                        <button type="button" class="btn btn-default shop-color-gray">200㎡-300㎡</button><span class="shop-color-gray">||
                    </a>
                    <a href="/front/search-shop.action?areaId=3" target="_blank">
                        <button type="button" class="btn btn-default shop-color-gray">300㎡-400㎡</button><span class="shop-color-gray">||
                    </a>
                    <a href="/front/search-shop.action?areaId=2" target="_blank">
                        <button type="button" class="btn btn-default shop-color-gray">400㎡-500㎡</button><span class="shop-color-gray">||
                    </a>
                    <a href="/front/search-shop.action?areaId=1" target="_blank">
                        <button type="button" class="btn btn-default shop-color-gray">500㎡以上</button>
                    </a>
                    <hr style="margin-top:1px;margin-bottom: 1px;">
                    <a href="/front/search-shop.action?floor=0" target="_blank">
                        <button type="button" class="btn btn-default shop-color-gray">地下层</button><span class="shop-color-gray">||
                    </a>
                    <a href="/front/search-shop.action?floor=1" target="_blank">
                        <button type="button" class="btn btn-default shop-color-gray">一层</button><span class="shop-color-gray">||
                    </a>
                    <a href="/front/search-shop.action?floor=2" target="_blank">
                        <button type="button" class="btn btn-default shop-color-gray">二层</button><span class="shop-color-gray">||
                    </a>
                    <a href="/front/search-shop.action?floor=3" target="_blank">
                        <button type="button" class="btn btn-default shop-color-gray">三层</button><span class="shop-color-gray">||
                    </a>
                    <a href="/front/search-shop.action?floor=4" target="_blank">
                        <button type="button" class="btn btn-default shop-color-gray">四层</button><span class="shop-color-gray">||
                    </a>
                    <a href="/front/search-shop.action?floor=5" target="_blank">
                        <button type="button" class="btn btn-default shop-color-gray">四层以上</button><span class="shop-color-gray">||
                    </a>
                    <a  href="/front/search-shop.action?floor=6" target="_blank">
                        <button type="button" class="btn btn-default shop-color-gray">多层</button>
                    </a>
                </div>
            </div>
            <div class="col-lg-2 panel panel-default shop-margin-left-10" style="height: 270px;width: 14%;">
                <div class="col-lg-12 panel-body shop-contact">
                    <button class="col-lg-12 thumbnail shop-border-none" data-toggle="modal" data-target="#businessModel" style="height: 60px;">
                        <div class="panel-default">
                            <img src="/static/ui/images/phone.png" style="height: 25px;"><p><font color="red">招商热线</font></p>
                        </div>
                    </button>
                    <div class="panel-default col-lg-12 thumbnail shop-border-none" style="height: 60px;">
                        <a class="buy" href="http://wpa.qq.com/msgrd?V=1&amp;uin=316527345&amp;Site=beiyishop&amp;Menu=yes" target="_blank" title="在线客服">
                            <img src="/static/ui/images/qq.png" style="height: 25px;" ><p><font color="red">在线客服</font></p>
                        </a>
                    </div>
                    <button class="col-lg-12 thumbnail shop-border-none" data-toggle="modal" data-target="#myModal" style="height: 60px;">
                        <div class="panel-default">
                            <img src="/static/ui/images/servicer.png" style="height: 25px;"><p><font color="red">给我留言</font></p>
                        </div>
                    </button>
                </div>

            </div>
        </div>

    </div>

</div>