<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.cms.shop.dao.base.ext.BrdImgExtMapper" >

    <select id="selectImgByBrdId" resultType="java.lang.String">
        select file_Name
        from biz_img
        where  biz_Id = #{id}
        order by img_Id desc
        limit 1
    </select>

</mapper>