<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.cms.shop.dao.base.mapper.BuildingOccupancyMapper" >
  <resultMap id="BaseResultMap" type="com.cms.shop.model.base.BuildingOccupancy" >
    <id column="OCPY_ID" property="ocpyId" jdbcType="INTEGER" />
    <result column="OCPY_NAME" property="ocpyName" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="Example_Where_Clause" >
    <where >
      <foreach collection="oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause" >
    <where >
      <foreach collection="example.oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List" >
    OCPY_ID, OCPY_NAME
  </sql>
  <select id="selectByExample" resultMap="BaseResultMap" parameterType="com.cms.shop.model.base.BuildingOccupancyCriteria" >
    select
    <if test="distinct" >
      distinct
    </if>
    <include refid="Base_Column_List" />
    from building_occupancy
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null" >
      order by ${orderByClause}
    </if>
    <choose >
      <when test="limitStart != -1 and limitEnd != -1" >
        limit ${limitStart} , ${limitEnd}
      </when>
      <when test="limitStart != -1" >
        limit ${limitStart}
      </when>
    </choose>
  </select>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from building_occupancy
    where OCPY_ID = #{ocpyId,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from building_occupancy
    where OCPY_ID = #{ocpyId,jdbcType=INTEGER}
  </delete>
  <delete id="deleteByExample" parameterType="com.cms.shop.model.base.BuildingOccupancyCriteria" >
    delete from building_occupancy
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.cms.shop.model.base.BuildingOccupancy" >
    <selectKey resultType="java.lang.Integer" keyProperty="ocpyId" order="AFTER" >
      SELECT @@IDENTITY
    </selectKey>
    insert into building_occupancy (OCPY_NAME)
    values (#{ocpyName,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.cms.shop.model.base.BuildingOccupancy" >
    <selectKey resultType="java.lang.Integer" keyProperty="ocpyId" order="AFTER" >
      SELECT @@IDENTITY
    </selectKey>
    insert into building_occupancy
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="ocpyName != null" >
        OCPY_NAME,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="ocpyName != null" >
        #{ocpyName,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.cms.shop.model.base.BuildingOccupancyCriteria" resultType="java.lang.Integer" >
    select count(*) from building_occupancy
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map" >
    update building_occupancy
    <set >
      <if test="record.ocpyId != null" >
        OCPY_ID = #{record.ocpyId,jdbcType=INTEGER},
      </if>
      <if test="record.ocpyName != null" >
        OCPY_NAME = #{record.ocpyName,jdbcType=VARCHAR},
      </if>
    </set>
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map" >
    update building_occupancy
    set OCPY_ID = #{record.ocpyId,jdbcType=INTEGER},
      OCPY_NAME = #{record.ocpyName,jdbcType=VARCHAR}
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.cms.shop.model.base.BuildingOccupancy" >
    update building_occupancy
    <set >
      <if test="ocpyName != null" >
        OCPY_NAME = #{ocpyName,jdbcType=VARCHAR},
      </if>
    </set>
    where OCPY_ID = #{ocpyId,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.cms.shop.model.base.BuildingOccupancy" >
    update building_occupancy
    set OCPY_NAME = #{ocpyName,jdbcType=VARCHAR}
    where OCPY_ID = #{ocpyId,jdbcType=INTEGER}
  </update>
</mapper>