<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.cms.shop.dao.base.mapper.MessageMapper" >
  <resultMap id="BaseResultMap" type="com.cms.shop.model.base.Message" >
    <id column="MSG_ID" property="msgId" jdbcType="INTEGER" />
    <result column="MSG_DATE" property="msgDate" jdbcType="TIMESTAMP" />
    <result column="MSG_CONTENT" property="msgContent" jdbcType="VARCHAR" />
    <result column="MSG_STATUS" property="msgStatus" jdbcType="INTEGER" />
    <result column="msg_Type_Id" property="msgTypeId" jdbcType="INTEGER" />
    <result column="user_Id" property="userId" jdbcType="INTEGER" />
    <result column="customer_Id" property="customerId" jdbcType="INTEGER" />
    <result column="msg_Title" property="msgTitle" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="Example_Where_Clause" >
    <where >
      <foreach collection="oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause" >
    <where >
      <foreach collection="example.oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List" >
    MSG_ID, MSG_DATE, MSG_CONTENT, MSG_STATUS, msg_Type_Id, user_Id, customer_Id, msg_Title
  </sql>
  <select id="selectByExample" resultMap="BaseResultMap" parameterType="com.cms.shop.model.base.MessageCriteria" >
    select
    <if test="distinct" >
      distinct
    </if>
    <include refid="Base_Column_List" />
    from message
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null" >
      order by ${orderByClause}
    </if>
    <choose >
      <when test="limitStart != -1 and limitEnd != -1" >
        limit ${limitStart} , ${limitEnd}
      </when>
      <when test="limitStart != -1" >
        limit ${limitStart}
      </when>
    </choose>
  </select>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from message
    where MSG_ID = #{msgId,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from message
    where MSG_ID = #{msgId,jdbcType=INTEGER}
  </delete>
  <delete id="deleteByExample" parameterType="com.cms.shop.model.base.MessageCriteria" >
    delete from message
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.cms.shop.model.base.Message" >
    <selectKey resultType="java.lang.Integer" keyProperty="msgId" order="AFTER" >
      SELECT @@IDENTITY
    </selectKey>
    insert into message (MSG_DATE, MSG_CONTENT, MSG_STATUS, 
      msg_Type_Id, user_Id, customer_Id, 
      msg_Title)
    values (#{msgDate,jdbcType=TIMESTAMP}, #{msgContent,jdbcType=VARCHAR}, #{msgStatus,jdbcType=INTEGER}, 
      #{msgTypeId,jdbcType=INTEGER}, #{userId,jdbcType=INTEGER}, #{customerId,jdbcType=INTEGER}, 
      #{msgTitle,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.cms.shop.model.base.Message" >
    <selectKey resultType="java.lang.Integer" keyProperty="msgId" order="AFTER" >
      SELECT @@IDENTITY
    </selectKey>
    insert into message
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="msgDate != null" >
        MSG_DATE,
      </if>
      <if test="msgContent != null" >
        MSG_CONTENT,
      </if>
      <if test="msgStatus != null" >
        MSG_STATUS,
      </if>
      <if test="msgTypeId != null" >
        msg_Type_Id,
      </if>
      <if test="userId != null" >
        user_Id,
      </if>
      <if test="customerId != null" >
        customer_Id,
      </if>
      <if test="msgTitle != null" >
        msg_Title,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="msgDate != null" >
        #{msgDate,jdbcType=TIMESTAMP},
      </if>
      <if test="msgContent != null" >
        #{msgContent,jdbcType=VARCHAR},
      </if>
      <if test="msgStatus != null" >
        #{msgStatus,jdbcType=INTEGER},
      </if>
      <if test="msgTypeId != null" >
        #{msgTypeId,jdbcType=INTEGER},
      </if>
      <if test="userId != null" >
        #{userId,jdbcType=INTEGER},
      </if>
      <if test="customerId != null" >
        #{customerId,jdbcType=INTEGER},
      </if>
      <if test="msgTitle != null" >
        #{msgTitle,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.cms.shop.model.base.MessageCriteria" resultType="java.lang.Integer" >
    select count(*) from message
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map" >
    update message
    <set >
      <if test="record.msgId != null" >
        MSG_ID = #{record.msgId,jdbcType=INTEGER},
      </if>
      <if test="record.msgDate != null" >
        MSG_DATE = #{record.msgDate,jdbcType=TIMESTAMP},
      </if>
      <if test="record.msgContent != null" >
        MSG_CONTENT = #{record.msgContent,jdbcType=VARCHAR},
      </if>
      <if test="record.msgStatus != null" >
        MSG_STATUS = #{record.msgStatus,jdbcType=INTEGER},
      </if>
      <if test="record.msgTypeId != null" >
        msg_Type_Id = #{record.msgTypeId,jdbcType=INTEGER},
      </if>
      <if test="record.userId != null" >
        user_Id = #{record.userId,jdbcType=INTEGER},
      </if>
      <if test="record.customerId != null" >
        customer_Id = #{record.customerId,jdbcType=INTEGER},
      </if>
      <if test="record.msgTitle != null" >
        msg_Title = #{record.msgTitle,jdbcType=VARCHAR},
      </if>
    </set>
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map" >
    update message
    set MSG_ID = #{record.msgId,jdbcType=INTEGER},
      MSG_DATE = #{record.msgDate,jdbcType=TIMESTAMP},
      MSG_CONTENT = #{record.msgContent,jdbcType=VARCHAR},
      MSG_STATUS = #{record.msgStatus,jdbcType=INTEGER},
      msg_Type_Id = #{record.msgTypeId,jdbcType=INTEGER},
      user_Id = #{record.userId,jdbcType=INTEGER},
      customer_Id = #{record.customerId,jdbcType=INTEGER},
      msg_Title = #{record.msgTitle,jdbcType=VARCHAR}
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.cms.shop.model.base.Message" >
    update message
    <set >
      <if test="msgDate != null" >
        MSG_DATE = #{msgDate,jdbcType=TIMESTAMP},
      </if>
      <if test="msgContent != null" >
        MSG_CONTENT = #{msgContent,jdbcType=VARCHAR},
      </if>
      <if test="msgStatus != null" >
        MSG_STATUS = #{msgStatus,jdbcType=INTEGER},
      </if>
      <if test="msgTypeId != null" >
        msg_Type_Id = #{msgTypeId,jdbcType=INTEGER},
      </if>
      <if test="userId != null" >
        user_Id = #{userId,jdbcType=INTEGER},
      </if>
      <if test="customerId != null" >
        customer_Id = #{customerId,jdbcType=INTEGER},
      </if>
      <if test="msgTitle != null" >
        msg_Title = #{msgTitle,jdbcType=VARCHAR},
      </if>
    </set>
    where MSG_ID = #{msgId,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.cms.shop.model.base.Message" >
    update message
    set MSG_DATE = #{msgDate,jdbcType=TIMESTAMP},
      MSG_CONTENT = #{msgContent,jdbcType=VARCHAR},
      MSG_STATUS = #{msgStatus,jdbcType=INTEGER},
      msg_Type_Id = #{msgTypeId,jdbcType=INTEGER},
      user_Id = #{userId,jdbcType=INTEGER},
      customer_Id = #{customerId,jdbcType=INTEGER},
      msg_Title = #{msgTitle,jdbcType=VARCHAR}
    where MSG_ID = #{msgId,jdbcType=INTEGER}
  </update>
</mapper>