.hide{display:none}
/* 导航样式 */
.prosmore{margin-left:-30px;margin-top:-38px;position:absolute;z-index:999;left:210px;top:38px;background-color:#fff;border-left:0 none;width:214px;height:120px}
.prosmore{text-align:left}
.prosmore span{float:left;height:36px;width:107px;line-height:22px;padding-top:9px;display:inline-block;}
.prosmore span a{
    height:18px;
    line-height:18px;
    text-decoration: none;

    display: inline-block;
    margin-left: 0;
    margin-right: 18px;
    padding-left: 18px;
    margin-bottom: 10px;
    white-space: nowrap;
    color: #333;
    font-size: 14px;
    font-family: -apple-system, BlinkMacSystemFont, 'PingFang SC', 'Hiragino Sans GB', 'Microsoft YaHei', sans-serif;
    border-left: 1px solid #edeeed;
}
.shoptabs li a:hover{
    background-color: white;
    color: #ff611b;
}

.shopnav a{
    color:#f8f8ff;
}

.shoptabs li a span:hover{
    color: #ff611b;
}
.prosmore a:hover{background-color:white;color:#fff}